<!-- ko with: home -->
<div class="jumbotron">
    <h1>Revolution - Proof Of Concept (POC)</h1>
    <p class="lead">This is a proof of concept for a new Bioinformatics environment.</p>
    <p><a href="http://Revolution" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Bioinformatics</h2>
        <p>This displays the latest news feed from Bioinformatics.</p>
        <td>Active Nomenclatures:</td>
        <p data-bind="text: myHometown"></p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Products")">Simple Kits &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Design Kits</h2>
        <p>
            It's now easier than ever before to get started designing your new LABType kit. Just click below and pick what kind of kit you want to design and go from there.
        </p>
        @*<li>@Html.ActionLink("LABType Kits", "Index", "KitPools", new { area = "" }, null)</li>*@
        <p><a class="btn btn-default" href="@Url.Action("Index","KitPools")">LABType Kits &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Design Probes</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>Probes</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
